<%- include('./partials/header.ejs') %>

    <div class="container">
        <form class="d-flex justify-content-center" action="/cohorts/<%= cohort.id %> " method="GET">
            <div class="card" style="width: 30rem;">
                <div class="card-body">

                    <div>
                        <h5 class="card-title">
                            <%= cohort.name %>
                        </h5>
                        <p class="card-text">
                            <%= cohort.members %>
                        </p>
                    </div>
                    <div>Method</div>
                    <div class="form-check">
                        <input value="teamCount" class="form-check-input" type="radio" name="method" id="method">
                        <label class="form-check-label" for="method">
                            Team Count
                        </label>
                    </div>
                    <div class="form-check">
                        <input value="perTeam" class="form-check-input" type="radio" name="method" id="perTeam">
                        <label class="form-check-label" for="perTeam">
                            Number Per Team
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input type="text" class="form-control" id="quantity" name="quantity">
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-primary" type="submit">Assign Teams</button>
                    </div>
                </div>
                <% if (method !==undefined && quantity !==undefined) { %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Members</th>
                            </tr>
                        </thead>
                        <tbody>

                            <% let index=0; %>
                                <% for (let i=0; i < nameArr.length; i++) {%>
                                    <% index=index + 1 %>
                                        <tr>
                                            <th scope="row">
                                                <%= index %>
                                            </th>

                                            <td>
                                                <%= nameArr[i] %>
                                            </td>
                                        </tr>
                                        <% } %>
                        </tbody>
                    </table>
                    <% } %>


            </div>
        </form>
        <div class="container d-flex justify-content-center mt-2">
            <form style="width: 30rem;" action="/cohorts/<%= cohort.id  %> " method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input class="delete-button" type="submit" value="Delete">
                <div class="mt-2">
                    <a style="width: 30rem;" class="btn btn-primary" href="/cohorts/<%= cohort.id %>/edit ">
                        Edit
                    </a>
                </div>
            </form>


        </div>
    </div>

    <%- include('./partials/footer.ejs') %>